body {
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
}

div.loginPassword {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    display: inline;
}

.search-bar input {
    position: left;
    width: 100%;
    margin-top: 15px;
}

.carousel-inner > .item > img {
    margin: 0 auto;
}

.carousel-control.right {
    opacity: 0;
}

.carousel-control.left {
    opacity: 0;
}

.centerCarousel {
    margin: 0 50px;
}

.login-bar {
    text-align: left;
    width: 50%;
}

.input-bar {
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    width: 20%;
    height: 40px;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    position: static;
}

a:link {
    color: #ffffff;
}
